@import url(./fonts/inter/inter.css);
@import url(./vendor/normalize.css);

@property --colorMain {
  syntax: '<color>';
  initial-value: #131313;
  inherits: false;
}

@property --colorBlue {
  syntax: '<color>';
  initial-value: #1452FF;
  inherits: false;
}

@property --colorBlueLight {
  syntax: '<color>';
  initial-value: #E5ECFF;
  inherits: false;
}

@property --colorLight {
  syntax: '<color>';
  initial-value: #dbe5ff;
  inherits: false;
}

@property --borderColor {
  syntax: '<color>';
  initial-value: #E0E0E0;
  inherits: false;
}

@property --colorGray {
  syntax: '<color>';
  initial-value: #B3B3B3;
  inherits: false;
}

@property --colorDarkGray {
  syntax: '<color>';
  initial-value: #666666;
  inherits: false;
}

a {
  color: var(--colorBlue);
}

.body {
  background-color: #FAFAFA;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  color: var(--colorMain);
  overflow-x: hidden;
}

.section {
  max-width: 1440px;
  width: calc(100% - 2*80px);
  margin: 0 auto;
  margin-bottom: 120px;
}

.header {
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header__additional {
  border-bottom: 1px solid var(--borderColor);
}

.header__additional-nav {
  max-width: 1440px;
  width: calc(100% - 2*80px);
  margin: 0 auto;
}

.header__additional-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
}

.header__additional-item {
  margin-right: 16px;
}

.header__additional-item:last-child {
  margin-right: 0;
}

.header__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.3;
  color: var(--colorGray);
  transition: color .5s linear;
}

.header__link:hover {
  color: var(--colorBlue);
}

.dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--colorGray);
}

.dot_news {
  margin: 0 12px;
}

.header__main {
  border-bottom: 1px solid var(--borderColor);
}

.header__main-container {
  max-width: 1440px;
  width: calc(100% - 2*80px);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.header__main-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.header__main-item {
  margin-right: 30px;
}

.header__main-item:last-child {
  margin-right: 0;
}

.header__nav-button {
  height: 72px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.125;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -1px;
  border-color: var(--borderColor);
  transition: border-bottom .5s linear;
}

.header__nav-button:hover {
  border-bottom: 1px solid var(--colorBlue);
}

.header__nav-button_opened {
  border-bottom: 2px solid var(--colorBlue);
}

.header__button-text {
  margin-right: 10px;
}

.header__button-arrow {
  width: 8px;
  height: 8px;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-color: #D9D9D9;
  transform: rotate(-45deg);
  margin-bottom: 8px;
  transition: all .5s linear;
}

.header__nav-button_opened .header__button-arrow {
  transform: rotate(135deg);
  margin-bottom: 0;
  margin-top: 8px;
}

.header__nav-button:hover .header__button-arrow {
  border-color: var(--colorMain);
}

.header__button-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.header__button-item {
  margin-right: 8px;
}

.header__button-item:last-child {
  margin-right: 0;
}

.header__button {
  width: 48px;
  height: 48px;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color .5s linear;
}

.header__button:hover {
  background-color: var(--colorBlueLight);
}

.header__button svg {
  fill: var(--colorGray);
  transition: fill .5s linear;
}


.header__button:hover svg {
  fill: var(--colorBlue);
}

.header__mobile-button {
  background-color: transparent;
  border: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: none;
  background-repeat: no-repeat;
  background-position: center;
}

.header__mobile-button_type_burger {
  background-image: url(./icons/menu.svg);
}

.header__mobile-button_type_close {
  background-image: url(./icons/close.svg);
}

.header__mobile-menu {
  display: none;
}

.main {
  margin-top: 182px;
}

.introduction {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--borderColor);
  overflow: hidden;
  max-width: 1440px;
  width: calc(100% - 2*80px);
  margin: 0 auto;
  margin-bottom: 100px;
}

.introduction__content {
  max-width: 644px;
  padding: 57px 0;
}

.introduction__name {
  font-size: 20px;
  line-height: 1.5;
  color: var(--colorGray);
  margin: 0;
  margin-bottom: 24px;
}

.introduction__title {
  font-size: 42px;
  line-height: 1.25;
  font-weight: 600;
  margin: 0;
  margin-bottom: 20px;
  letter-spacing: -0.04rem;
}

.text {
  font-size: 22px;
  line-height: 1.5;
  margin: 0;
  letter-spacing: -0.05rem;
}

.text:not(:last-child) {
  margin-bottom: 10px;
}

.introduction__link-container {
  display: flex;
  align-items: center;
  margin-top: 48px;
}

.introduction__link {
  height: 61px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.introduction__link_type_button {
  width: 383px;
  color: #FFFFFF;
  background: linear-gradient(to right, var(--colorLight), var(--colorBlue), var(--colorLight));
  border-radius: 1000px;
  font-size: 18px;
  line-height: 1.5;
  transition: --colorLight .5s linear;
  margin-right: 36px;
}

.introduction__link_type_button:hover {
  --colorLight: #6f98ff;
}

.introduction__link_type_simple {
  color: inherit;
  font-size: 20px;
  line-height: 1.5;
  transition: color .5s linear;
}

.introduction__link_type_simple:hover {
  color: var(--colorBlue);
}

.arrow-right {
  width: 9px;
  height: 9px;
  border-color: var(--colorMain);
  border-right: 1px solid;
  border-bottom: 1px solid;
  transform: rotate(-45deg);
  margin-bottom: 2px;
  margin-left: 15px;
  transition: border-color .5s linear;
}

.introduction__link_type_simple:hover .arrow-right {
  border-color: var(--colorBlue);
}

.introduction__animation-container {
  width: 474px;
  padding: 30px;
  padding-bottom: 0;
  padding-right: 10px;
  flex-shrink: 0;
}

.animation {
  width: 100%;
  height: 100%;
  position: relative;
}

.sircle {
  width: 102px;
  height: 102px;
  border-radius: 100%;
  background-color: var(--colorBlue);
  opacity: .7;
  filter: blur(5px);
  position: absolute;
}

.sircle_1 {
  top: 0;
  left: 0;
}

.sircle_2 {
  top: 0;
  left: 252px;
}

.sircle_3 {
  top: 0;
  right: 0;
}

.sircle_4 {
  top: 126px;
  left: 126px;
}

.sircle_5 {
  top: 126px;
  left: 252px;
}

.sircle_6 {
  top: 126px;
  right: 0;
}

.sircle_7 {
  top: 252px;
  left: 0;
}

.sircle_8 {
  top: 252px;
  left: 126px;
}

.sircle_9 {
  top: 252px;
  right: 0;
}

.line {
  width: 102px;
  border-top-left-radius: 1000px;
  border-top-right-radius: 1000px;
  background-color: var(--colorBlue);
  filter: blur(5px);
  opacity: .7;
  position: absolute;
}

.line_1 {
  height: 178px;
  left: 126px;
  bottom: -5px;
}

.line_2 {
  height: 295px;
  left: 252px;
  bottom: -5px;
}

.news__top-container {
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
}

.news__text-container {
  max-width: 660px;
}

.section-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: -0.06rem;
  margin: 0;
  margin-bottom: 28px;
}

.news__button-container {
  display: flex;
  align-self: flex-end;
}

.news__button {
  width: 48px;
  height: 48px;
  background: none;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color .5s linear;
}

.news__button:first-child {
  margin-right: 16px;
}

.news__button:hover {
  background-color: var(--colorBlueLight);
}

.news__arrow {
  width: 8px;
  height: 8px;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-color: var(--colorBlue);
}

.news__arrow_left {
  transform: rotate(45deg);
  margin-left: 6px;
}

.news__arrow_right {
  transform: rotate(-135deg);
  margin-right: 8px;
}

.news__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.news__item {
  width: 467px;
  height: 524px;
  background-color: #FFFFFF;
  border: 1px solid var(--borderColor);
  border-radius: 12px;
  margin-right: 20px;
  box-sizing: border-box;
  transition: border-color .5s linear;
}

.news__item:hover {
  border-color: #B3B3B3;
}

.news__item:last-child {
  margin-right: 0;
}

.news__link {
  color: inherit;
  text-decoration: none;
  display: block;
  height: 524px;
}

.news__image {
  width: 467px;
  height: 250px;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  display: block;
}

.news__item-text-container {
  margin: 24px;
  width: calc(100% - 2 * 24px);
  height: calc(274px - 2 * 24px);
  box-sizing: border-box;
    overflow: hidden;
  text-overflow: ellipsis;
}

.news__item-category {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  width: 100%;
}

.news__category-text {
  font-size: 18px;
  letter-spacing: -0.07rem;
  color: var(--colorGray);
  margin: 0;
}

.news__category-text_category {
  transition: color .5s linear;
}

.news__item:hover .news__category-text_category {
  color: var(--colorBlue);
}

.news__item-title {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.06rem;
  margin-bottom: 14px;
  transition: opacity .5s linear;
  height: 54px;
  line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.news__item:hover .news__item-title {
  opacity: .6;
}

.news__item-text {
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  letter-spacing: -0.05rem;
  line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}

.coops {
  display: flex;
  justify-content: space-between;
}

.coops__text-container {
  max-width: 588px;
  margin-right: 60px;
}

.coops__tabs {
  list-style-type: none;
  padding: 8px;
  margin: 0;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
  border: 1px solid var(--borderColor);
  border-radius: 48px;
  box-sizing: border-box;
  height: 62px;
}

.coops__tab-button {
  background: transparent;
  border: none;
  border-radius: 1000px;
  padding: 0 24px;
  font-size: 16px;
  cursor: pointer;
  height: 46px;
}

.coops__tab-button_active {
  background-color: var(--colorBlueLight);
  color: var(--colorBlue);
}

.coops__grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 20px;
}

.coops__grid-item {
  height: 237px;
  background-color: #FFFFFF;
  overflow: hidden;
  border: 1px solid var(--borderColor);
  border-radius: 16px;
}

.coops__link {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.coops__image-container {
  height: 200px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coops__link-bg {
  width: 170px;
  height: 170px;
  background-color: var(--colorBlue);
  filter: blur(50px);
  position: absolute;
  border-radius: 50%;
  top: -40px;
  margin: 0 auto;
  z-index: 0;
  transition: all .5s linear;
}

.coops__link-image {
  z-index: 1;
  height: 40%;
}

.coops__link-text {
  padding: 12px;
  font-size: 18px;
  letter-spacing: -0.05rem;
  line-height: 1.2;
  text-align: center;
  transition: color .5s linear;
  z-index: 2;
}

.coops__link:hover .coops__link-bg {
  width: 210px;
  height: 210px;
  filter: blur(50px);
  top: -50px;
}

.coops__link:hover .coops__link-text {
  color: var(--colorBlue);
}

.prof__text-container {
  max-width: 627px;
  margin-bottom: 48px;
}

.prof__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.prof__item {
  height: 220px;
  background-color: #FFFFFF;
  border: 1px solid var(--borderColor);
  border-radius: 12px;
  transition: border-color .5s linear;
}

.prof__item:hover {
  border-color: var(--colorGray);
}

.prof__link {
  width: 100%;
  height: 100%;
  color: inherit;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

.prof__item-text-container {
  width: 70%;
  height: calc(100% - 2 * 24px);
  padding: 0 24px;
  box-sizing: border-box;
  overflow: hidden;
  align-self: center;
}

.prof__item-img-container {
  width: 30%;
  align-self: flex-end;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.prof__item-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: -0.05rem;
  margin: 0;
  margin-bottom: 10px;
  line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.prof__item-text {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: -0.05rem;
  margin: 0;
  line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}

.prof__item-image {
  border-bottom-right-radius: 12px;
  transition: opacity .5s linear;
  height: 100%;
}

.prof__item:hover .prof__item-image {
  opacity: .7;
}

.feedback {
  display: flex;
}

.feedback__text-container {
  width: 38%;
  flex-shrink: 0;
  margin-right: 100px;
}

.feedback__form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.feedback__form-fields {
  width: 100%;
  display: flex;
  margin-bottom: 16px;
}

.feedback__input {
  height: 56px;
  border: 1px solid var(--borderColor);
  border-radius: 12px;
  padding: 0 16px;
  outline: none;
}

.feedback__input:focus {
  border-color: var(--colorBlue);
}

.feedback__input_name {
  width: 40%;
  margin-right: 16px;
}

.feedback__input_tel {
  width: 60%;
}

.feedback__input::placeholder {
  color: var(--colorGray);
}

.feedback__textarea {
  height: 278px;
  margin: 16px 0 24px;
  padding: 16px;
  resize: none;
  box-sizing: border-box;
  border: 1px solid var(--borderColor);
  border-radius: 12px;
  outline: none;
}

.feedback__textarea:focus {
  border-color: var(--colorBlue);
}

.feedback__textarea::placeholder {
  color: var(--colorGray);
}

.feedback__button-container {
  display: flex;
}

.button {
  height: 61px;
  width: 276px;
  flex-shrink: 0;
  border: none;
  border-radius: 1000px;
  color: #FFFFFF;
  background: linear-gradient(to right, var(--colorLight), var(--colorBlue), var(--colorBlue), var(--colorLight));
  cursor: pointer;
  transition: --colorLight .5s linear;
  margin-right: 36px;
}

.button:hover {
  --colorLight: var(--colorBlue);
}

.button:disabled {
  background: var(--borderColor);
}

.feedback__text {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.05rem;
}

.questions__text-container {
  max-width: 720px;
  margin-bottom: 48px;
}

.questions__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.questions__item {
  margin-bottom: 16px;
}

.questions__item:last-child {
  margin-bottom: 0;
}

.questions__button {
  background-color: #FFFFFF;
  border: 1px solid var(--borderColor);
  border-radius: 12px;
  height: 72px;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  display: block;
  padding: 20px 24px;
  cursor: pointer;
  transition: border-color .5s linear;
}

.questions__button:hover {
  border-color: var(--colorGray);
}

.questions__button_opened {
  height: fit-content;
}

.questions__title-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 24px;
  width: 100%;
}

.questions__item-title {
  width: calc(100% - 40px);
  margin: 0;
  margin-right: 24px;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: -0.05rem;
  text-align: left;
  overflow: hidden;
  text-wrap: nowrap;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.questions__button_opened .questions__item-title  {
  overflow: visible;
  text-wrap: wrap;
  white-space: wrap;
  text-overflow: unset;
}

.questions__item svg {
  fill: var(--colorGray);
  transition: fill .5s linear;
}

.questions__item:hover svg {
  fill: var(--colorDarkGray);
}

.questions__button_opened svg  {
  transform: rotate(45deg);
}

.questions__item-text {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: -0.05rem;
  text-align: left;
  margin: 0;
}

.resources {
  margin-bottom: 100px;
}

.resources__text-container {
  max-width: 645px;
  margin-bottom: 48px;
}

.resources__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resources__gallery {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
  max-height: 420px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.resources__gallery::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  background: linear-gradient(#ffffff00, #ffffffe0);
}

.resources__image {
  width: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  margin-bottom: 20px;
  border-radius: 12px;
}

.resources__image:last-child {
  margin-bottom: 0;
}

.button_resources {
  z-index: 1;
  margin-top: -34px;
  margin-right: 0;
}

.contacts__text-container {
  max-width: 645px;
  margin-bottom: 48px;
}

.contacts__content {
  display: flex;
}

.contacts__map-container {
  width: 100%;
  height: 600px;
  background-image: url(./images/map.png);
  border-radius: 12px;
}

.contacts__map {
  width: 100%;
  border-radius: 12px;
}

.contacts__info {
  width: 30%;
  margin-left: 20px;
  flex-shrink: 0;
}

.contacts__info-item {
  margin-bottom: 24px;
  border-bottom: 1px solid var(--borderColor);
}

.contacts__info-item:last-child {
  border: none;
}

.contacts__address-container {
  margin-bottom: 24px;
}

.contacts__info-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: -0.05rem;
  margin: 0;
}

.contacts__address {
  font-size: 14px;
  letter-spacing: -0.05rem;
  margin: 0;
  margin-top: 2px;
}

.contacts__phone {
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: -0.05rem;
  margin: 0;
  margin-top: 8px;
}

.contacts__schedule-title {
  position: relative;
  width: fit-content;
}

.contacts__dot {
  width: 10px;
  height: 10px;
  background: linear-gradient(197.1deg, rgba(35, 199, 35, 0.5) 4.52%, rgba(29, 149, 29, 0.5) 88.24%);
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: -14px;
}

.contacts__schedule {
  margin: 24px 0;
}

.contacts__schedule-item {
  margin-bottom: 16px;
}

.contacts__schedule-item:last-child {
  margin-bottom: 0;
}

.contacts__schedule-text {
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: -0.05rem;
  margin: 0;
}

.contacts__maps {
  display: flex;
  margin-top: 20px;
}

.contacts__map-link {
  width: 36px;
  height: 36px;
  display: block;
  background-size: contain;
  background-position: center;
  margin-right: 16px;
}

.contacts__map-link:last-child {
  margin-right: 0;
}

.contacts__map-link_yandex {
  background-image: url(./icons/Yandex_Maps_icon\ 1.svg);
}

.contacts__map-link_2gis {
  background-image: url(./icons/_2gis__\ 1.svg);
}

.footer {
  max-width: 1440px;
  width: calc(100% - 2*80px);
  margin: 0 auto;
  border-top: 1px solid var(--borderColor);
}

.footer__nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 36px;
  margin-bottom: 70px;
}

.footer__nav-column {
  min-width: 230px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.footer__title {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: -0.05rem;
  margin: 0;
}

.footer__link-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 24px;
}

.footer__link-list_btns {
  display: flex;
  flex-wrap: wrap;
}

.footer__link-item {
  margin-bottom: 24px;
}

.footer__link-item:last-child {
  margin-bottom: 0;
}

.footer__link-item_btn {
  margin-right: 16px;
}

.footer__nav-link {
  text-decoration: none;
  color: var(--colorDarkGray);
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.05rem;
}

.footer__text {
  color: var(--colorDarkGray);
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.05rem;
}

.footer__text_highlighted {
  color: var(--colorBlue);
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.05rem;
}

.footer__image-link-image {
  width: 230px;
  display: block;
}

.footer__additional {
  border-top: 1px solid var(--borderColor);
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__additional-text {
  font-size: 16px;
  line-height: 1.14;
  letter-spacing: -0.05rem;
  color: var(--colorDarkGray);
  text-decoration: none;
  text-align: center;
}

.footer__additional-list {
  list-style-type: none;
  padding: 0;
  margin: 0 10px;
  display: flex;
}

.footer__item {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__item:last-child {
  margin-right: 0;
}

.header-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background: #00000033;
  backdrop-filter: blur(70px);
  opacity: 0;
  visibility: hidden;
  transition: visibility .3s, opacity .3s ease-in-out;
}

.header-modal_opened {
  visibility: visible;
  opacity: 1;
}

.header-modal__container {
  width: fit-content;
  box-sizing: border-box;
  padding: 24px;
  margin: 0 auto;
  margin-top: 130px;
  background-color: #FFFFFF;
  border-radius: 12px;
}

.header-modal__content {
  display: flex;
}

.header-modal__list {
  width: 311px;
  list-style-type: none;
  margin: 0;
  padding: 0 16.5px;
  box-sizing: border-box;
  border-right: 1px solid var(--borderColor);
}

.header-modal__list:last-child {
  border: none;
}

.header-modal__title {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.125;
  letter-spacing: -0.04rem;
  color: var(--colorGray);
  margin: 12px 0 28px;
  text-align: center;
}

.header-modal__item {
  height: 50px;
  margin-bottom: 10px;
}

.header-modal__item svg {
  fill: #1C1B1F;
  margin-right: 10px;
  transition: fill .5s linear;
}

.header-modal__item:last-child {
  margin-bottom: 0;
}

.header-modal__link {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.header-modal__text {
  font-size: 16px;
  line-height: 1.125;
  letter-spacing: -0.04rem;
  transition: color .5s linear;
}

.header-modal__item:hover svg {
  fill: var(--colorBlue);
}

.header-modal__item:hover .header-modal__text {
  color: var(--colorBlue);
}

@media screen and (max-width: 1439px) {
  .header__additional-nav {
    width: calc(100% - 2 * 48px);
  }

  .header__main-container {
    width: calc(100% - 2 * 48px);
  }

  .header__main-item {
    margin-right: 10px;
  }

  .introduction__animation-container {
    width: 284px;
    height: 330px;
    align-self: flex-end;
  }

  .sircle {
    width: 58px;
    height: 58px;
  }

  .sircle_2 {
    left: 150.6px;
  }

  .sircle_4 {
    top: 75.3px;
    left: 75.3px;
  }

  .sircle_5 {
    top: 75.3px;
    left: 150.6px;
  }

  .sircle_6 {
    top: 75.3px;
  }

  .sircle_7 {
    top: 150.6px;
  }

  .sircle_8 {
    top: 150.6px;
    left: 75.3px;
  }

  .sircle_9 {
    top: 150.6px;
  }

  .line {
    width: 58px;
  }

  .line_1 {
    height: 116px;
    left: 75.3px;
  }

  .line_2 {
    height: 184px;
    left: 150.6px;
  }

  .main {
    margin-top: 140px;
  }

  .section {
    width: calc(100% - 2 * 48px);
  }

  .introduction {
    width: calc(100% - 2 * 48px);
  }

  .footer {
    width: calc(100% - 2 * 48px);
  }
}

@media screen and (max-width: 1279px) {
  .introduction__link-container {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .introduction__link_type_button {
    margin-right: 0;
  }

  .introduction__link_type_simple {
    margin-bottom: 24px;
  }

  .introduction__name {
    font-size: 18px;
  }

  .introduction__title {
    font-size: 32px;
  }

  .text {
    font-size: 20px;
  }

  .section-title {
    font-size: 40px;
  }

  .coops {
    flex-direction: column;
  }

  .coops__text-container {
    margin-right: 0;
    margin-bottom: 36px;
  }

  .coops__grid {
    grid-template-columns: repeat(auto-fit, minmax(161px, 1fr));
  }

  .coops__grid-item {
    height: 171px;
  }

  .coops__image-container {
    height: 120px;
  }

  .coops__link-bg {
    width: 130px;
    height: 130px;
    filter: blur(40px);
    top: -50px;
  }

  .coops__link:hover .coops__link-bg {
    width: 160px;
    height: 160px;
    filter: blur(40px);
    top: -60px;
  }

  .prof__list {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 1023px) {
  .header__additional {
    display: none;
  }

  .header__main {
    border-bottom: none;
  }

  .header__main-container {
    padding: 20px 48px;
    box-sizing: border-box;
    border-bottom: 1px solid var(--borderColor);
    width: 100%;
  }

  .header__main-list {
    display: none;
  }

  .header__button-list {
    display: none;
  }

  .header__mobile-button_type_burger {
    display: block;
  }

  .header_opened .header__mobile-button_type_close {
    display: block;
  }

  .header_opened .header__mobile-button_type_burger {
    display: none;
  }

  .header_opened {
    height: 100vh;
  }

  .header_opened .header__main {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .header__mobile-menu {
    height: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
  }

  .header_opened .header__mobile-menu {
    height: 100%;
    visibility: visible;
    opacity: 1;
  }

  .header__mobile-menu .header__main-list {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .header__main-item {
    margin-right: 0;
    width: 100%;
  }

  .header__nav-button {
    height: 94px;
    width: 100%;
    border-bottom: 1px solid var(--borderColor);
    justify-content: space-between;
    padding: 0 48px;
    font-size: 20px;
    line-height: 1;
    margin-bottom: 0;
    text-decoration: none;
    color: inherit;
  }

  .header__nav-button:hover {
    border-color: var(--borderColor);
  }

  .header__button-text {
    margin-right: 0;
  }

  .header__mobile-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 36px 48px;
  }

  .header__mobile-footer-text {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: -0.05rem;
    color: var(--colorDarkGray);
  }

  .main {
    margin-top: 70px;
  }

  .introduction {
    margin-bottom: 86px;
  }

  .introduction__content {
    padding: 36px 0;
  }

  .introduction__name {
    font-size: 16px;
  }

  .introduction__title {
    font-size: 24px;
    margin-bottom: 12px;
  }

  .text {
    font-size: 18px;
  }

  .introduction__link-container {
    margin-top: 30px;
  }

  .introduction__link {
    height: 45px;
    font-size: 16px;
  }

  .introduction__link_type_button {
    width: 283px;
  }

  .section-title {
    font-size: 32px;
    margin-bottom: 12px;
  }

  .news__top-container {
    margin-bottom: 30px;
  }

  .news__button-container {
    display: none;
  }

  .news__item-title {
    font-size: 20px;
  }

  .news__item-text {
    font-size: 16px;
  }

  .news__list::-webkit-scrollbar {
    display: none;
  }

  .section {
    margin-bottom: 86px;
  }

  .prof__item-title {
    font-size: 20px;
  }

  .prof__item-text {
    font-size: 16px;
  }

  .feedback {
    flex-direction: column;
  }

  .feedback__text-container {
    width: 100%;
    margin-right: 0;
    margin-bottom: 36px;
  }

  .questions__text-container {
    margin-bottom: 36px;
  }

  .questions__item-title {
    font-size: 18px;
  }

  .questions__item-text {
    font-size: 14px;
  }

  .resources__gallery {
    max-height: 300px;
    gap: 16px;
  }

  .resources__image {
    margin-bottom: 16px;
  }

  .button_resources {
    height: 45px;
    font-size: 16px;
    margin-top: -24px;
  }

  .contacts__address-container {
    margin-bottom: 20px;
  }

  .contacts__info-title {
    font-size: 16px;
  }

  .contacts__phone {
    font-size: 20px;
    margin-top: 6px;
  }

  .contacts__schedule {
    margin: 16px 0;
  }

  .contacts__schedule-text {
    font-size: 16px;
  }

  .additional-text {
    display: none;
  }

  .footer__title {
    font-size: 20px;
  }

  .footer__link-list {
    margin-top: 16px;
  }

  .footer__additional {
    justify-content: center;
  }

  .footer__additional-text {
    font-size: 12px;
  }

  .header-modal {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header__additional-nav {
    width: calc(100% - 2 * 16px);
  }

  .header__main-container {
    padding: 20px 16px;
  }

  .header__nav-button {
    height: 70px;
    padding: 0 16px;
    font-size: 16px;
  }

  .header__mobile-footer {
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 20px 16px;
  }

  .introduction {
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    width: calc(100% - 2 * 16px);
  }

  .introduction__title {
    font-size: 20px;
  }

  .introduction__animation-container {
    align-self: unset;
    padding: 0;
  }

  .news__item {
    width: 250px;
    height: 396px;
  }

  .news__link {
    width: 250px;
    height: 396px;
  }

  .news__image {
    width: 250px;
    height: 150px;
  }

  .news__item-text-container {
    margin: 10px;
  }

  .text {
    font-size: 14px;
  }

  .introduction__link-container {
    margin-top: 10px;
  }

  .section-title {
    font-size: 24px;
  }

  .section {
    width: calc(100% - 2 * 16px);
    margin-bottom: 60px;
  }

  .coops__tabs {
    overflow-x: auto;
  }

  .coops__tabs::-webkit-scrollbar {
    display: none;
  }

  .coops__tab-button {
    padding: 0 10px;
  }

  .prof__item-text-container {
    width: 100%;
    padding: 0 10px;
  }

  .prof__item-img-container {
    height: 30%;
  }

  .feedback__text-container {
    margin-bottom: 16px;
  }

  .feedback__form-fields {
    flex-direction: column;
  }

  .feedback__input_name {
    width: unset;
    margin-right: 0;
    margin-bottom: 16px;
  }

  .feedback__input_tel {
    width: unset;
  }

  .feedback__button-container {
    flex-direction: column;
    align-items: center;
  }

  .button {
    margin-right: 0;
    margin-bottom: 16px;
  }

  .resources__gallery {
    max-height: 200px;
    gap: 10px;
  }

  .resources__image {
    margin-bottom: 10px;
  }

  .contacts__content {
    flex-direction: column;
  }

  .contacts__map-container {
    height: 350px;
  }

  .contacts__info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 0;
    margin-top: 16px;
  }

  .contacts__info-item {
    border: none;
    margin-right: 10px;
  }

  .contacts__info-item:last-child {
    margin-right: 0;
  }

  .footer {
    width: calc(100% - 2 * 16px);
  }
}

@-moz-document url-prefix() {
  .tableActions__inner {
    scrollbar-width: thin;
  }
}
